<div class="col s11">


   <h3>Se Connecter </h3>

   <div>
      <form action="http://localhost/TechChallenge/front/#!/login" method="post">

         <label for="login_log">Votre Login : </label>
         <input type="text" id="login_log" name="login_log" required>

         <label for="password_log">Votre Login : </label>
         <input type="text" id="password_log" name="password_log" required>

         <input type="submit" value="Se Connecter">

      </form>
   </div>


   <br />

   <h3>Pas encore inscrit ? </h3>

   <div>
      <form action="/register" method="post">

         <label for="login">Votre Login : </label>
         <input type="text" id="login" name="login" required>

         <label for="firstname">Votre Prénom : </label>
         <input type="text" id="firstname" name="firstname" required>

         <label for="lastname">Votre Prénom : </label>
         <input type="text" id="lastname" name="lastname" required>

         <label for="password">Votre Prénom : </label>
         <input type="text" id="password" name="password" required>

         <input type="submit" value="S'inscire">

      </form>
   </div>


</div>
